{
  "singleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "useTabs": true,
  "printWidth": 120,
  "jsxSingleQuote": false
}
